<ejs-chart 
  [primaryXAxis]='xAxis' 
  [primaryYAxis]='yAxis' 
  [title]='chartTitle' 
  [tooltip]='tooltipSettings' 
  [legendSettings]='legend'>
  
  <e-series-collection>
    <e-series 
      [dataSource]='chartData' 
      xName='name' 
      yName='sales' 
      name='Sales' 
      type='Column'>
    </e-series>
  </e-series-collection>
</ejs-chart>

<ejs-chart 
  [primaryXAxis]='xAxis' 
  [primaryYAxis]='yAxis' 
  [title]='chartTitle' 
  [tooltip]='tooltipSettings' 
  [legendSettings]='legend'>
  
  <e-series-collection>
    <e-series 
      [dataSource]='chartData' 
      xName='name' 
      yName='sales' 
      name='Sales' 
      type='Bar'>
    </e-series>
  </e-series-collection>
</ejs-chart>

  
<ejs-chart 
  [primaryXAxis]='xAxis' 
  [primaryYAxis]='yAxis' 
  [title]='chartTitle' 
  [tooltip]='tooltipSettings' 
  [legendSettings]='legend'>
  
  <e-series-collection>
    <e-series 
      [dataSource]='chartData' 
      xName='name' 
      yName='sales' 
      name='Sales' 
      type='Line'>
    </e-series>
  </e-series-collection>
</ejs-chart>



  

